@font-face {
  font-family: 'Helvetica';
  font-weight: 100;
  src: local('Helvetica'), url(./fonts/HelveticaNeue-Thin.ttf) format('truetype');
}

@font-face {
  font-family: 'Helvetica';
  font-weight: 200;
  src: local('Helvetica'), url(./fonts/HelveticaNeue-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'ThaiSansNeue';
  font-weight: 100;
  src: local('ThaiSansNeue'), url(./fonts/ThaiSansNeue-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'ThaiSansNeue';
  font-weight: 400;
  src: local('ThaiSansNeue'), url(./fonts/ThaiSansNeue-Regular.ttf) format('truetype');
}

body {
  margin: 0;
  font-size: 18px;
  font-family: 'ThaiSansNeue', 'Helvetica';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 20px;
  letter-spacing: 0.05em;
  color: #676767;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2em;
}

a:hover {
  text-decoration: none;
  color: unset;
}


svg:not(:root).svg-inline--fa {
  overflow: visible;
}
.svg-inline--fa {
  display: inline-block;
  font-size: inherit;
  height: 1em;
  overflow: visible;
  vertical-align: -0.125em;
}
